<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/main.log"
                     filePattern="logs/main-%d{yyyy-MM-dd}-%i.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t][%logger{10}] - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t][%logger{10}] - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>